html,
body {
    margin: 0;
    font: inherit;
    font-family: 'Calibri'
}

h1 {
    font-size: 40px;
    color: #2D5D7B;
}

h2 {
    font-size: 30px;
    color: #247BA0;
}

.container-front {
    position: flex;
    align-items: baseline;
}

header {
    display: block;
    width: 100%;
}

input[type=submit] {
    border: none;
    background-color: #d1d1d1;
    color: #1F2421;
    padding: 10px;
}

input[type=text] {
    border: none;
    background-color: white;
    padding: 10px;
}

.header_img {
    height: 400px;
    align-content: center;
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1566707675793-3ec9e5590bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
}

.cropped:hover {
    transition: transform .4s;
    transform: scale(1.2);
    cursor: pointer;
    transition-delay: 0.3s;
}

#redirect:hover {
    transition-duration: 0.1s;
    color: #F5F5F5
}

.menu {
    position: relative;
    margin-top: 110px;
    padding: 5px;
    text-align: center;
    background-color: #9CC5A1;
}

.menu ul {
    margin: 8px;
}

.menu li {
    display: inline-block;
    padding: 0px 30px;
}

.menu a {
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1F2421;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 50px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
}

.centered {
    margin-left: auto;
    margin-top: -270px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-shadow: -7px 3px 4px rgba(171, 171, 171, 0.73);
}

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}

.row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}

.column {
    flex: 50%;
    padding: 0px 4px;
}

.column img {
    margin-top: 10px;
    padding: 0px 20px;
    vertical-align: middle;
	height:300px;
	width:300px;
}

.column p {
    display: inline-block;
    text-align: justify;
    font-family: 'Calibri';
    width: 300px;
    margin-top: 8px;
    vertical-align: middle;
}

.grid-container {
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-left: 20px;
    padding: 5px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font: 15px 'Calibri';
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
}

.item2 {
    margin-left: -50px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 400px;
}

.container_contrib {
    margin-left: 80px;
    margin-top: -20px;
    padding: 10px 10px 50px 20px;
    width: 85%;
    text-align: center;
}

.newsletter_container {
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px;
}

.cropped {
    object-fit: cover
}

.contact_container {
    text-align: center;
    margin-left: 250px;
    width: 60%;
    background-color: #F5F5F5;
    padding: 20px;
}

.footer {
    width: auto;
    margin: 0;
    padding: 10px;
    background-color: #9cc5bc;
}

.contact_container {
    text-align: center;
    margin-left: 250px;
    width: 60%;
    background-color: #F5F5F5;
    padding: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #9cc5bc;
    display: flex;
    justify-content: space-evenly;
}

.footer ul li {
    display: inline-block;
}

#link:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

.footer h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-shadow: -7px 3px 4px rgba(171, 171, 171, 0.73);
    margin-block-start: 20px;
    margin-left: 20px;
    margin-block-end: 0;
}

.productModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease;
}

.modal-window {
    position: relative;
    background-color: white;
    padding: 0;
}

.modal_img {
    height: 100px;
    align-content: center;
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1566707675793-3ec9e5590bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
}

.productTitle {
    position: relative;
    padding: 2px 0px 2px 0px;
    text-align: center;
    background-color: #9CC5A1;
}

.modalLogo {
    margin-left: auto;
    margin-top: -70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-shadow: -7px 3px 4px rgba(171, 171, 171, 0.73);
}

h2.productPrice {
    position: absolute;
    bottom: -10px;
    left: 20px;
    cursor: pointer;
    width: 80px;
}

h2.productPrice:hover {
    transition: color 0.2s;
    color: red;
}

.productText {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 25px;
    margin-bottom: 15px;
}

.productImg {
    display: inline-flex;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}